<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Agricola Board</title>
    <meta charset="UTF-8">
    <script src="/j/jquery-1.4.2.min.js"></script>
    <script src="/j/underscore-min.js"></script>
    <script src="http://js.pusherapp.com/1.4/pusher.min.js"></script>
    
    <script src="/j/jquery.utils.js"></script>
    <script src="/j/configuration.js"></script>
    <script src="/j/data_pusher.js"></script>
    <script src="/j/login_handler.js"></script>
    <script src="/j/interface_actions.js"></script>
    <script src="/j/server_interface.js"></script>
    <script src="/j/event_handler.js"></script>
    <script src="/j/jquery.board.js"></script>
    <script src="/j/application.js"></script>
    
    <link rel="stylesheet" href="/s/style.css" type="text/css" media="screen" title="Main" charset="utf-8">
  </head>
  <body>
    <div id="service">
      <form action="#" id="login-form">
        <label for="login">Login:</label> <input type="text" name="login" id="login" />
        <label for="password">Password:</label> <input type="password" name="password" id="password"/>
        <input type="submit" id="submit-login" value="Login" />
        <a href="#" id="signup">No account? Signup here.</a>
      </form>
      <form action="#" id="signup-form" style="display:none">
        <label for="login">Login:</label> <input type="text" name="signup-login" id="signup-login" />
        <label for="signup-password">Password:</label> <input type="password" name="signup-password" id="signup-password"/>
        <label for="signup-confirm-password">Confirm:</label> <input type="password" name="signup-confirm-password" id="signup-confirm-password"/>
        <input type="submit" id="submit-signup" value="Signup" />
        <a href="#" id="signup-cancel">Cancel</a>
      </form>
    </div>
    <div id="rooms" style="display:none">
    </div>
    <div id="board" style="display:none">
      <div id="starting" class="group">
        <h4>Starting Actions</h4>
      </div>
      <div id="default" class="group">
        <h4>Default Actions</h4>
      </div>
      <div id="turns" class="group">
        <h4>Turn Actions (turn: #)</h4>
        <div id="r1" class="harvest">
          <h4>Fase I</h4>
        </div>
        <div id="r2" class="harvest">
          <h4>Fase II</h4>
        </div>
        <div id="r3" class="harvest">
          <h4>Fase III</h4>
        </div>
        <div id="r4" class="harvest">
          <h4>Fase IV</h4>
        </div>
        <div id="r5" class="harvest">
          <h4>Fase V</h4>
        </div>
        <div id="r6" class="harvest">
          <h4>Fase VI</h4>
        </div>
      </div>
    </div>
    <div id="commands">
      <p id="status"></p>
      <form>
        <input id="enter-room" type="submit" value="Enter Room" style="display: none" class="command"/>
        <input id="new-game" type="submit" value="New Game" style="display: none" class="command"/>
        <input id="submitter" type="submit" value="Next Turn" style="display: none" class="command"/>
      </form>
    </div>
    <div id="log">
    </div>
  </body>
</html>